SECRET_KEY=your_secret_key_here

DEBUG=your_debug_settings_here

NAME=your_database_name_here
USER=your_database_user_here
PASSWORD=your_database_password_here
HOST=your_database_host_here
PORT=your_database_port_here