<footer class="bg-white border-top mt-auto">
    <div class="container py-4">
        <div class="row g-4">
            <div class="col-12 col-md-4"><strong>SkyStore</strong><small class="d-block text-secondary">&copy; 2026</small></div>
            <div class="col-6 col-md-4">
                <h2 class="h6">Категории</h2>
                <ul class="list-unstyled mb-0"><li><a class="link-secondary" href="#">Рассылки</a></li><li><a class="link-secondary" href="#">Telegram-боты</a></li><li><a class="link-secondary" href="#">Веб-приложения</a></li></ul>
            </div>
            <div class="col-6 col-md-4"><h2 class="h6">О нас</h2><a class="link-secondary" href="/contacts/">Контакты</a></div>
        </div>
    </div>
</footer>