{% extends "base.html" %}
{% block title %} Информация о товаре {% endblock %}
{% block content %}
<div class="container mt-5 text-center">
    <div class="container mt-5 text-center">
        <h1>Информация о продукте: {{ product.name }}</h1>
        <p>Имя: {{ product.name }}</p>
        <p>Описание: {{ product.description }}</p>
        <p>Категория: {{ product.category }}</p>
        <p>Цена: {{ product.price }}</p>
        <p>Товар добавлен: {{ product.created_at|date:"d M Y" }}</p>
        <p>Товар обновлен: {{ product.updated_at|date:"d M Y" }}</p>
        {% if product.image %}
        <img
                src="{{ product.image.url }}"
                alt="{{ product.name }}"
                class="img-fluid rounded"
                style="max-width: 500px;"
        >
        {% else %}
        <p>Изображение отсутствует</p>
        {% endif %}
    </div>
    <div class="mt-5">
        <a class="btn btn-primary" aria-current="page" href="{% url 'home' %}">Вернуться к списку постов</a>
        {% if user.is_authenticated %}
        {% if product.owner_id == user.pk or perms.catalog.change_product %}
        <a class="btn btn-warning" href="{% url 'update_product' pk=product.pk %}">Редактировать</a>
        {% endif %}
        {% if product.owner_id == user.pk or perms.catalog.delete_product %}
        <a class="btn btn-danger" href="{% url 'delete_product' pk=product.pk %}">Удалить</a>
        {% endif %}
        {% if perms.catalog.can_unpublish_product and product.published %}
        <form method="post" action="{% url 'unpublish_product' pk=product.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning">
                Снять с публикации
            </button>
        </form>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}