{% extends "base.html" %}
{% block title %} SkyStore — удаление продукта {% endblock %}
{% block content %}
<main>
    <div class="container py-5">
        <div class="card shadow-sm mx-auto" style="max-width: 650px;">
            <div class="card-body p-4">
                <h1 class="mb-4">Удаление продукта</h1>
                <p>Вы точно хотите удалить товар "{{ product.name }}"</p>
                <form method="post">
                    {% csrf_token %}

                    <a href="{% url 'home' %}" class="btn btn-primary">
                        Отменить
                    </a>

                    <button type="submit" class="btn btn-danger">
                        Удалить
                    </button>

                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
